/* Browser style reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of reset */
:root {
  --accent: #5becc0;
  --sec-accent: #d67867;
  --acent-font: #000;
  --bg: #171722;
  --bg-500: #1a1a27;
  --bg-400: #222231;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(110deg, var(--bg) 70%, var(--bg-500) 70%);
  background: -moz-linear-gradient(110deg, var(--bg) 70%, var(--bg-500) 70%);
  background: linear-gradient(110deg, var(--bg) 70%, var(--bg-500) 70%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#branches {
  height: 90%;
  width: 60%;
  max-width: 1800px;
}

#branches > header {
  padding: 15px;
  background-color: var(--bg-400);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#branches > header button {
  background-color: transparent;
  border: 2px solid var(--accent);
  border-radius: 10px;
  color: var(--accent);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#branches > header button:hover {
  background-color: var(--accent);
  color: var(--acent-font);
}

input[type="text"]::placeholder {
  color: #2e5246;
  font-size: 1rem;
  font-weight: 400;
}
#branches > header input[type="text"] {
  width: 50%;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #2e5246;
  outline: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  background-color: #171722;
  transition: all 0.5s ease-in-out;
}
#branches > header input[type="text"]:focus {
  border: 1px solid var(--accent);
  background-color: var(--bg-500);
}

.branch-item {
  background-color: var(--bg-400);
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
}
.branch-item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.branch-item header h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.branch-item header button {
  background-color: transparent;
  border: 2px solid var(--sec-accent);
  border-radius: 10px;
  color: var(--sec-accent);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.branch-item header button:hover {
  background-color: var(--sec-accent);
  color: var(--acent-font);
}
.branch-item .todo {
  display: none;
}
.branch-item.expanded header button {
  display: none;
}
.branch-item.expanded header {
  margin-bottom: 20px;
}
.branch-item.expanded .todo {
  display: block;
}
.todo header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.todo header input[type="text"] {
  width: 50%;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #2e5246;
  outline: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  background-color: #171722;
  transition: all 0.5s ease-in-out;
}

.todo header input[type="text"]:focus {
  border: 1px solid var(--accent);
  background-color: var(--bg-500);
}

.todo header button {
  width: 4rem;
  background-color: transparent;
  border: 2px solid var(--accent);
  border-radius: 10px;
  color: var(--accent);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.todo header button:hover {
  background-color: var(--accent);
  color: var(--acent-font);
}

.todo .todo-item {
  background-color: var(--bg-500);
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.todo ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.todo ul li .todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.todo-item .left {
  display: flex;
  align-items: center;
}
.todo-item .left label {
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.todo-item .left > input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #5becc0;
}

.todo-item .delete-todo {
  background-color: transparent;
  border: 2px solid var(--sec-accent);
  border-radius: 10px;
  color: var(--sec-accent);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.todo-item .delete-todo:hover {
  background-color: var(--sec-accent);
  color: var(--acent-font);
}

.git {
  position: absolute;
  top: 0;
  left: 0;
}

.git a {
  color: #fff;
}
